.clear-text-commit
, .hash-commit
, .verify-hash
, .aes-commit
, .aes-decrypt
 {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  /* small space between top and bottom of the commit */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* make the background color of each of the above a unique light pastel color */
.clear-text-commit {
  background-color:   #FFD1DC;
}
.hash-commit {
  background-color:#AAF0D1;
}
.verify-hash {
  background-color:#E6E6FA;
}
.aes-commit {
  background-color:#FFFACD;
}
.aes-decrypt {
  background-color:#FFE5B4;
}

code {
    background-color: #f0f0f0;
    padding: 0.5rem;
}